
<div class="about-image shadow">
	<h2 style="margin-left: 50%; margin-top: 300px;"></h2>
</div>
<div class="body">
    <div class="row">
    	<div class="container">

    		<h1>Haat Bazarとは</h1>



		</div>
	</div>
</div>
